// About
#about.section.md-padding
  // Container
  .container
    // Row
    .row
      // Section header
      .section-header.text-center
        h2.title Welcome to Website
      // /Section header
      // about
      .col-md-4
        .about
          i.fa.fa-cogs
          h3 Fully Customizible
          p Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.
          a(href='#') Read more
      // /about
      // about
      .col-md-4
        .about
          i.fa.fa-magic
          h3 Awesome Features
          p Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.
          a(href='#') Read more
      // /about
      // about
      .col-md-4
        .about
          i.fa.fa-mobile
          h3 Fully Responsive
          p Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.
          a(href='#') Read more
      // /about
    // /Row
  // /Container
// /About
