// Blog
#blog.section.md-padding.bg-grey
  // Container
  .container
    // Row
    .row
      // Section header
      .section-header.text-center
        h2.title Recents news
      // /Section header
      // blog
      .col-md-4
        .blog
          .blog-img
            img.img-responsive(src='./img/blog1.jpg' alt='')
          .blog-content
            ul.blog-meta
              li
                i.fa.fa-user
                | John doe
              li
                i.fa.fa-clock-o
                | 18 Oct
              li
                i.fa.fa-comments
                | 57
            h3 Molestie at elementum eu facilisis sed odio
            p
              | Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.
            a(href='blog-single.pug') Read more
      // /blog
      // blog
      .col-md-4
        .blog
          .blog-img
            img.img-responsive(src='./img/blog2.jpg' alt='')
          .blog-content
            ul.blog-meta
              li
                i.fa.fa-user
                | John doe
              li
                i.fa.fa-clock-o
                | 18 Oct
              li
                i.fa.fa-comments
                | 57
            h3 Molestie at elementum eu facilisis sed odio
            p
              | Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.
            a(href='blog-single.pug') Read more
      // /blog
      // blog
      .col-md-4
        .blog
          .blog-img
            img.img-responsive(src='./img/blog3.jpg' alt='')
          .blog-content
            ul.blog-meta
              li
                i.fa.fa-user
                | John doe
              li
                i.fa.fa-clock-o
                | 18 Oct
              li
                i.fa.fa-comments
                | 57
            h3 Molestie at elementum eu facilisis sed odio
            p
              | Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.
            a(href='blog-single.pug') Read more
      // /blog
    // /Row
  // /Container
// /Blog