// Contact
#contact.section.md-padding
  // Container
  .container
    // Row
    .row
      // Section-header
      .section-header.text-center
        h2.title Get in touch
      // /Section-header
      // contact
      .col-sm-4
        .contact
          i.fa.fa-phone
          h3 Phone
          p 512-421-3940
      // /contact
      // contact
      .col-sm-4
        .contact
          i.fa.fa-envelope
          h3 Email
          p email@support.com
      // /contact
      // contact
      .col-sm-4
        .contact
          i.fa.fa-map-marker
          h3 Address
          p 1739 Bubby Drive
      // /contact
      // contact form
      .col-md-8.col-md-offset-2
        form.contact-form
          input.input(type='text' placeholder='Name')
          input.input(type='email' placeholder='Email')
          input.input(type='text' placeholder='Subject')
          textarea.input(placeholder='Message')
          button.main-btn Send message
      // /contact form
    // /Row
  // /Container
// /Contact