// Numbers
#numbers.section.sm-padding
  // Background Image
  .bg-img(style="background-image: url('./img/background2.jpg');")
    .overlay
  // /Background Image
  // Container
  .container
    // Row
    .row
      // number
      .col-sm-3.col-xs-6
        .number
          i.fa.fa-users
          h3.white-text
            span.counter 451
          span.white-text Happy clients
      // /number
      // number
      .col-sm-3.col-xs-6
        .number
          i.fa.fa-trophy
          h3.white-text
            span.counter 12
          span.white-text Awards won
      // /number
      // number
      .col-sm-3.col-xs-6
        .number
          i.fa.fa-coffee
          h3.white-text
            span.counter 154
            | K
          span.white-text Cups of Coffee
      // /number
      // number
      .col-sm-3.col-xs-6
        .number
          i.fa.fa-file
          h3.white-text
            span.counter 45
          span.white-text Projects completed
      // /number
    // /Row
  // /Container
// /Numbers