// Pricing
#pricing.section.md-padding
  // Container
  .container
    // Row
    .row
      // Section header
      .section-header.text-center
        h2.title Pricing Table
      // /Section header
      // pricing
      .col-sm-4
        .pricing
          .price-head
            span.price-title Basic plan
            .price
              h3
                | $9
                span.duration / month
          ul.price-content
            li
              p 1GB Disk Space
            li
              p 100 Email Account
            li
              p 24/24 Support
          .price-btn
            button.outline-btn Purchase now
      // /pricing
      // pricing
      .col-sm-4
        .pricing
          .price-head
            span.price-title Silver plan
            .price
              h3
                | $19
                span.duration / month
          ul.price-content
            li
              p 1GB Disk Space
            li
              p 100 Email Account
            li
              p 24/24 Support
          .price-btn
            button.outline-btn Purchase now
      // /pricing
      // pricing
      .col-sm-4
        .pricing
          .price-head
            span.price-title Gold plan
            .price
              h3
                | $39
                span.duration / month
          ul.price-content
            li
              p 1GB Disk Space
            li
              p 100 Email Account
            li
              p 24/24 Support
          .price-btn
            button.outline-btn Purchase now
      // /pricing
    // Row
  // /Container
// /Pricing