// Service
#service.section.md-padding
  // Container
  .container
    // Row
    .row
      // Section header
      .section-header.text-center
        h2.title What we offer
      // /Section header
      // service
      .col-md-4.col-sm-6
        .service
          i.fa.fa-diamond
          h3 App Development
          p Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.
      // /service
      // service
      .col-md-4.col-sm-6
        .service
          i.fa.fa-rocket
          h3 Graphic Design
          p Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.
      // /service
      // service
      .col-md-4.col-sm-6
        .service
          i.fa.fa-cogs
          h3 Creative Idea
          p Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.
      // /service
      // service
      .col-md-4.col-sm-6
        .service
          i.fa.fa-diamond
          h3 Marketing
          p Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.
      // /service
      // service
      .col-md-4.col-sm-6
        .service
          i.fa.fa-pencil
          h3 Awesome Support
          p Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.
      // /service
      // service
      .col-md-4.col-sm-6
        .service
          i.fa.fa-flask
          h3 Brand Design
          p Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.
      // /service
    // /Row
  // /Container
// /Service