// Team
#team.section.md-padding
  // Container
  .container
    // Row
    .row
      // Section header
      .section-header.text-center
        h2.title Our Team
      // /Section header
      // team
      .col-sm-4
        .team
          .team-img
            img.img-responsive(src='./img/team1.jpg' alt='')
            .overlay
              .team-social
                a(href='#')
                  i.fa.fa-facebook
                a(href='#')
                  i.fa.fa-google-plus
                a(href='#')
                  i.fa.fa-twitter
          .team-content
            h3 John Doe
            span Web Designer
      // /team
      // team
      .col-sm-4
        .team
          .team-img
            img.img-responsive(src='./img/team2.jpg' alt='')
            .overlay
              .team-social
                a(href='#')
                  i.fa.fa-facebook
                a(href='#')
                  i.fa.fa-google-plus
                a(href='#')
                  i.fa.fa-twitter
          .team-content
            h3 John Doe
            span Web Designer
      // /team
      // team
      .col-sm-4
        .team
          .team-img
            img.img-responsive(src='./img/team3.jpg' alt='')
            .overlay
              .team-social
                a(href='#')
                  i.fa.fa-facebook
                a(href='#')
                  i.fa.fa-google-plus
                a(href='#')
                  i.fa.fa-twitter
          .team-content
            h3 John Doe
            span Web Designer
      // /team
    // /Row
  // /Container
// /Team