// Testimonial
#testimonial.section.md-padding
  // Background Image
  .bg-img(style="background-image: url('./img/background3.jpg');")
    .overlay
  // /Background Image
  // Container
  .container
    // Row
    .row
      // Testimonial slider
      .col-md-10.col-md-offset-1
        #testimonial-slider.owl-carousel.owl-theme
          // testimonial
          .testimonial
            .testimonial-meta
              img(src='./img/perso1.jpg' alt='')
              h3.white-text John Doe
              span Web Designer
            p.white-text
              | Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas ultricies mi eget mauris.
          // /testimonial
          // testimonial
          .testimonial
            .testimonial-meta
              img(src='./img/perso2.jpg' alt='')
              h3.white-text John Doe
              span Web Designer
            p.white-text
              | Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas ultricies mi eget mauris.
          // /testimonial
      // /Testimonial slider
    // /Row
  // /Container
// /Testimonial