// Why Choose Us
#features.section.md-padding.bg-grey
  // Container
  .container
    // Row
    .row
      // why choose us content
      .col-md-6
        .section-header
          h2.title Why Choose Us
        p
          | Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas ultricies mi eget mauris. Ultrices sagittis orci a scelerisque purus.
        .feature
          i.fa.fa-check
          p Quis varius quam quisque id diam vel quam elementum.
        .feature
          i.fa.fa-check
          p Mauris augue neque gravida in fermentum.
        .feature
          i.fa.fa-check
          p Orci phasellus egestas tellus rutrum.
        .feature
          i.fa.fa-check
          p Nec feugiat nisl pretium fusce id velit ut tortor pretium.
      // /why choose us content
      // About slider
      .col-md-6
        #about-slider.owl-carousel.owl-theme
          img.img-responsive(src='./img/about1.jpg' alt='')
          img.img-responsive(src='./img/about2.jpg' alt='')
          img.img-responsive(src='./img/about1.jpg' alt='')
          img.img-responsive(src='./img/about2.jpg' alt='')
      // /About slider
    // /Row
  // /Container
// /Why Choose Us