doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
  title HTML Templa
  // Google font
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round' rel='stylesheet')
  // Bootstrap
  link( rel='stylesheet' href='css/bootstrap.min.css')
  // Owl Carousel
  link(rel='stylesheet' href='css/owl.carousel.css')
  link( rel='stylesheet' href='css/owl.theme.default.css')
  // Magnific Popup
  link(rel='stylesheet' href='css/magnific-popup.css')
  // Font Awesome Icon
  link(rel='stylesheet' href='css/font-awesome.min.css')
  // Custom stlylesheet
  link(rel='stylesheet' href='css/style.css')
  // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
// Header
header#home
  // Background Image
  .bg-img(style="background-image: url('./img/background1.jpg');")
    .overlay
  // /Background Image
  
  include layout/nav.pug
  
  // home wrapper
  .home-wrapper
    .container
      .row
        // home content
        .col-md-10.col-md-offset-1
          .home-content
            h1.white-text We Are Creative Agency
            p.white-text
              | Morbi mattis felis at nunc. Duis viverra diam non justo. In nisl. Nullam sit amet magna in magna gravida vehicula. Mauris tincidunt sem sed arcu. Nunc posuere.
            button.white-btn Get Started!
            button.main-btn Learn more
        // /home content
  // /home wrapper
// /Header
include sections/about.pug
include sections/portfolio.pug
include sections/services.pug
include sections/why.pug
include sections/numbers.pug
include sections/pricing.pug
include sections/tertimonals.pug
include sections/team.pug
include sections/blog.pug
include sections/contacts.pug
include layout/footer.pug
// Back to top
#back-to-top
// /Back to top
// Preloader
#preloader
  .preloader
    span
    span
    span
    span
// /Preloader
// jQuery Plugins
script( src='js/jquery.min.js')
script( src='js/bootstrap.min.js')
script( src='js/owl.carousel.min.js')
script( src='js/jquery.magnific-popup.js')
script( src='js/main.js')
