// Blog
#blog.section.md-padding
  // Container
  .container
    // Row
    .row
      // Main
      main#main.col-md-9
        .blog
          .blog-img
            img.img-responsive(src='./img/blog-post.jpg' alt='')
          .blog-content
            ul.blog-meta
              li
                i.fa.fa-user
                | John doe
              li
                i.fa.fa-clock-o
                | 18 Oct
              li
                i.fa.fa-comments
                | 57
            h3 Morbi mattis felis at nunc. Duis viverra
            p
              | Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
          // blog tags
          .blog-tags
            h5 Tags :
            a(href='#')
              i.fa.fa-tag
              | Web
            a(href='#')
              i.fa.fa-tag
              | Design
            a(href='#')
              i.fa.fa-tag
              | Marketing
            a(href='#')
              i.fa.fa-tag
              | Development
            a(href='#')
              i.fa.fa-tag
              | Branding
            a(href='#')
              i.fa.fa-tag
              | Photography
          // blog tags
          // blog author
          .blog-author
            .media
              .media-left
                img.media-object(src='./img/author.jpg' alt='')
              .media-body
                .media-heading
                  h3 Joe Doe
                  .author-social
                    a(href='#')
                      i.fa.fa-facebook
                    a(href='#')
                      i.fa.fa-twitter
                    a(href='#')
                      i.fa.fa-google-plus
                    a(href='#')
                      i.fa.fa-instagram
                p
                  | Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.
          // /blog author
          // blog comments
          .blog-comments
            h3.title (13) Comments
            // comment
            .media
              .media-left
                img.media-object(src='./img/perso2.jpg' alt='')
              .media-body
                h4.media-heading
                  | Joe Doe
                  span.time 2 min ago
                  a.reply(href='#')
                    | Reply 
                    i.fa.fa-reply
                p
                  | Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.
            // /comment
            // comment
            .media
              .media-left
                img.media-object(src='./img/perso1.jpg' alt='')
              .media-body
                h4.media-heading
                  | Joe Doe
                  span.time 2 min ago
                  a.reply(href='#')
                    | Reply 
                    i.fa.fa-reply
                p
                  | Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.
              // author reply comment
              .media.author
                .media-left
                  img.media-object(src='./img/perso2.jpg' alt='')
                .media-body
                  h4.media-heading
                    | Joe Doe
                    span.time 2 min ago
                    a.reply(href='#')
                      | Reply 
                      i.fa.fa-reply
                  p
                    | Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.
              // /comment
              // reply comment
              .media
                .media-left
                  img.media-object(src='./img/perso2.jpg' alt='')
                .media-body
                  h4.media-heading
                    | Joe Doe
                    span.time 2 min ago
                    a.reply(href='#')
                      | Reply 
                      i.fa.fa-reply
                  p
                    | Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.
              // /comment
            // /comment
            // comment
            .media
              .media-left
                img.media-object(src='./img/perso.jpg' alt='')
              .media-body
                h4.media-heading
                  | Joe Doe
                  span.time 2 min ago
                  a.reply(href='#')
                    | Reply 
                    i.fa.fa-reply
                p
                  | Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.
            // /comment
          // /blog comments
          // reply form
          .reply-form
            h3.title Leave a reply
            form
              input.input(type='text' placeholder='Name')
              input.input(type='email' placeholder='Email')
              textarea(placeholder='Add Your Commment')
              button.main-btn(type='submit') Submit
          // /reply form
      // /Main
      // Aside
      aside#aside.col-md-3
        // Search
        .widget
          .widget-search
            input.search-input(type='text' placeholder='search')
            button.search-btn(type='button')
              i.fa.fa-search
        // /Search
        // Category
        .widget
          h3.title Category
          .widget-category
            a(href='#')
              | Web Design
              span (7)
            a(href='#')
              | Marketing
              span (142)
            a(href='#')
              | Web Development
              span (74)
            a(href='#')
              | Branding
              span (60)
            a(href='#')
              | Photography
              span (5)
        // /Category
        // Posts sidebar
        .widget
          h3.title Populare Posts
          // single post
          .widget-post
            a(href='#')
              img(src='./img/post1.jpg' alt='')
              |  Blog title goes here
            ul.blog-meta
              li Oct 18, 2017
          // /single post
          // single post
          .widget-post
            a(href='#')
              img(src='./img/post2.jpg' alt='')
              |  Blog title goes here
            ul.blog-meta
              li Oct 18, 2017
          // /single post
          // single post
          .widget-post
            a(href='#')
              img(src='./img/post3.jpg' alt='')
              |  Blog title goes here
            ul.blog-meta
              li Oct 18, 2017
          // /single post
        // /Posts sidebar
        // Tags
        .widget
          h3.title Tags
          .widget-tags
            a(href='#') Web
            a(href='#') Design
            a(href='#') Graphic
            a(href='#') Marketing
            a(href='#') Development
            a(href='#') Branding
            a(href='#') Photography
        // /Tags
      // /Aside
    // /Row
  // /Container
// /Blog