// Footer
footer#footer.sm-padding.bg-dark
  // Container
  .container
    // Row
    .row
      .col-md-12
        // footer logo
        .footer-logo
          a(href='#')
            img(src='img/logo-alt.png' alt='logo')
        // /footer logo
        // footer follow
        ul.footer-follow
          li
            a(href='#')
              i.fa.fa-facebook
          li
            a(href='#')
              i.fa.fa-twitter
          li
            a(href='#')
              i.fa.fa-google-plus
          li
            a(href='#')
              i.fa.fa-instagram
          li
            a(href='#')
              i.fa.fa-linkedin
          li
            a(href='#')
              i.fa.fa-youtube
        // /footer follow
        // footer copyright
        .footer-copyright
          p
            | Copyright &copy; 2017. All Rights Reserved. Designed by 
            a(href='https://colorlib.com' target='_blank') Colorlib
        // /footer copyright
    // /Row
  // /Container
// /Footer