//Nav
nav#nav.navbar.nav-transparent
    .container
      .navbar-header
        // Logo
        .navbar-brand
          a(href='index.pug')
            img.logo(src='img/logo.png' alt='logo')
            img.logo-alt(src='img/logo-alt.png' alt='logo')
        // /Logo
        // Collapse nav button
        .nav-collapse
          span
        // /Collapse nav button
      // Main navigation
      ul.main-nav.nav.navbar-nav.navbar-right
        li
          a(href='#home') Home
        li
          a(href='#about') About
        li
          a(href='#portfolio') Portfolio
        li
          a(href='#service') Services
        li
          a(href='#pricing') Prices
        li
          a(href='#team') Team
        li.has-dropdown
          a(href='#blog') Blog
          ul.dropdown
            li
              a(href='/blog') blog post
        li
          a(href='#contact') Contact
      // /Main navigation
// /Nav